---
layout: "journal_layout"
pageable: true
per_page: 6
---

<div id="journal">
  <div class="header section">
    <h1>
      Journal
    </h1>
    <h2>
      Welcome to my journal
    </h2>
    <p>
      This is where I write my <strong>thoughts</strong>, mostly about web <strong>development</strong> 
      and <strong>design</strong>. I also review new tech, and try my hand at creating <strong>guides
      </strong> detailing the things I learn - and the mistakes I make along the way.
    </p>
  </div>

  <div class="tag section">
    <ul>
      <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
      <% end %>
    </ul>
  </div>

  <div class="articles section">
    <h2>
      Latest Articles
    </h2>
    <% if paginate && num_pages > 1 %>
      <p>Page <%= page_number %> of <%= num_pages %></p>

      <% if prev_page %>
        <p><%= link_to 'Previous page', prev_page %></p>
      <% end %>
    <% end %>

    <% page_articles.each_with_index do |article, i| %>
      <div class="article">
        <h2><%= link_to article.title, article %> </h2>
        <span class="date"><%= article.date.strftime('%d %B %Y') %></span>
        <!-- use article.summary(250) if you have Nokogiri available to show just the first 250 characters -->
        <%= article.summary(114) %>
        <span class="read-more"><%= link_to 'READ MORE', article %></span>
      </div>
    <% end %>

    <% if paginate %>
      <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
      <% end %>
    <% end %>
  </div>
</div>
